[workspace]
name = "ponio"
version = "0.0.1"
authors = ["Josselin Massot <josselin.massot@polytechnique.edu>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]
configure = { cmd = [
  "cmake",
  # source
  ".",
  # generator
  "-G",
  "Ninja",
  # build directory
  "-B",
  "./build",
] }
configure_test = { cmd = "cmake -S . -G 'Ninja' -B ./build -DBUILD_TESTS=ON" }
configure_long_test = { cmd = "cmake . -G 'Ninja' -B ./build -DBUILD_TESTS=ON -DBUILD_SAMURAI_EXAMPLES=ON" }
configure_examples = { cmd = "cmake . -G 'Ninja' -B ./build -DBUILD_EXAMPLES=ON" }
configure_all_examples = { cmd = "cmake . -G 'Ninja' -B ./build -DBUILD_ALL_EXAMPLES=ON -DBUILD_TESTS=ON" }
configure_debug = { cmd = "cmake . -G 'Ninja' -B ./build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug -DBUILD_EXAMPLES=ON" }

build_ninja = { cmd = "cmake --build ./build --config Release" } # don't call this rule alone
build_ninja_j1 = { cmd = "cmake --build ./build -j1 --config Release" } # don't call this rule alone
build = { depends-on = ["configure", "build_ninja"] }
build_test = { depends-on = ["configure_test", "build_ninja_j1"] }
build_long_test = { depends-on = ["configure_long_test", "build_ninja_j1"] }
build_examples = { depends-on = ["configure_examples", "build_ninja"] }
build_all_examples = { depends-on = ["configure_all_examples", "build_ninja"] }
build_all_examples_j1 = { depends-on = [
  "configure_all_examples",
  "build_ninja_j1",
] }
build_debug = { cmd = "ninja -C build ponio", depends-on = ["configure_debug"] }

test = { cmd = "./build/ponio/test/ponio_tests", depends-on = ["build_test"] }
long_test = { cmd = "./build/ponio/test/ponio_tests", depends-on = [
  "build_long_test",
] }
nbval = { cmd = "pytest --nbval --nbval-current-env -p no:warnings", cwd = "./ponio/notebooks", depends-on = [
  "build",
] }
visu = { cmd = "cmake --build ./build --target visu", depends-on = [
  "build_examples",
] }
save_visu = { cmd = "cmake --build ./build --target save_visu", depends-on = [
  "build_examples",
] }
all_visu = { cmd = "cmake --build ./build --target visu", depends-on = [
  "build_all_examples",
] }
all_save_visu = { cmd = "cmake --build ./build -j1 --target save_visu", depends-on = [
  "build_all_examples_j1",
] }
mpl_test = {}
cppcheck = { cmd = "cppcheck --enable=all --check-level=exhaustive -q --project=./build/compile_commands.json --suppressions-list=.cppcheck --inline-suppr 2> cppcheck_err.txt", depends-on = [
  "build_debug",
] }

analysis_json = { cmd = "python analysis/analysis.py -o html/api -v -s database/*.json" }

[target.win-64.tasks]
configure = { cmd = "cmake . -G 'Visual Studio 17 2022' -B ./build" }
configure_test = { cmd = "cmake . -G 'Visual Studio 17 2022' -B ./build -DBUILD_TESTS=ON" }
configure_test_samurai = { cmd = "cmake . -G 'Visual Studio 17 2022' -B ./build -DBUILD_TESTS=ON -DBUILD_SAMURAI_EXAMPLES=ON" }
test = { cmd = "./build/ponio/test/Release/ponio_tests", depends-on = [
  "build_test",
] }

[dependencies]
notebook = ">=7.5.2,<8"
cmake = ">=4.2.1,<5"
scipy = ">=1.17.0,<2"
jinja2 = ">=3.1.6,<4"
nbval = ">=0.11.0,<0.12"
pytest = ">=9.0.2,<10"
matplotlib = ">=3.10.8,<4"
ninja = ">=1.13.2,<2"
doctest = ">=2.4.12,<3"
sympy = ">=1.14.0,<2"
eigen = ">=3.4.0,<4"
numpy = ">=2.4.1,<3"
samurai = ">=0.28.0,<0.29"
xtensor = ">=0.27.1,<0.28"
pkg-config = ">=0.29.2,<0.30"
cli11 = ">=2.4.2,<3"
h5py = ">=3.15.1,<4"


[target.linux-64.dependencies]
petsc = ">=3.24.3,<4"

[target.osx-64.dependencies]
petsc = ">=3.24.3,<4"

[target.osx-arm64.dependencies]
petsc = ">=3.24.3,<4"
