name: Linux CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cpp-version: gcc-8
            package: "gcc-8 g++-8"
            cc: "gcc-8"
            cxx: "g++-8"
          - cpp-version: gcc-9
            package: "gcc-9 g++-9"
            cc: "gcc-9"
            cxx: "g++-9"
          - cpp-version: gcc-10
            package: "gcc-10 g++-10"
            cc: "gcc-10"
            cxx: "g++-10"
          - cpp-version: gcc-11
            package: "gcc-11 g++-11"
            cc: "gcc-11"
            cxx: "g++-11"
          - cpp-version: clang-9
            package: "clang-9"
            cc: "clang-9"
            cxx: "clang++-9"
          - cpp-version: clang-10
            package: "clang-10"
            cc: "clang-10"
            cxx: "clang++-10"
          - cpp-version: clang-11
            package: "clang-11"
            cc: "clang-11"
            cxx: "clang++-11"
          - cpp-version: clang-12
            package: "clang-12"
            cc: "clang-12"
            cxx: "clang++-12"
    steps:
      - uses: actions/checkout@v2
      - name: install compiler
        run: |
          sudo apt update
          sudo apt install ${{ matrix.package }}
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: solver/test/environment.yml
          environment-name: ponio-solver-test
      - name: Conda informations
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Configure
        shell: bash -l {0}
        run: |
          export LDFLAGS="${LDFLAGS} -L$CONDA_PREFIX/lib"
          pip install docopt-ng
          cd solver
          make install
          cd test
          CC=${{ matrix.cc }} CXX=${{ matrix.cxx }} make test
