name: Midnight CI - clang-tidy check

on: [pull_request]
  #workflow_dispatch: # allows manual triggering
  #schedule:
  #  - cron: "0 0 * * *" # runs daily at 00:00

jobs:
  check_new_commit:
    runs-on: ubuntu-latest
    outputs:
      nb_commits: ${{ steps.new_commits.outputs.nb_commits }}
    steps:
      - uses: actions/checkout@v4
      - id: new_commits
        run: echo "nb_commits=$(git log --oneline --since '24 hours ago' | wc -l)" >> $GITHUB_OUTPUT
  clang-tidy-check:
    needs: check_new_commit
    # if: needs.check_new_commit.outputs.nb_commits > 0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/ccache
            ~/micromamba-root/envs/ponio-test
          key: clang-tidy
      - uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: v0.13.0
          cache: true
      - name: Install Python
        run: pixi add python
      - name: Install clang-tidy
        shell: pixi run bash {0}
        run: |
          pixi add clang-tools cxx-compiler clang clangxx
          pip install compdb
      - name: Configure
        shell: pixi run bash {0}
        run: |
          pixi run build_compdb
          compdb -p build list > compile_commands.json
      - name: Run clang-tidy on ponio
        shell: pixi run bash {0}
        run: |
          run-clang-tidy
